{% extends 'app/layout.html' %}
{% load static %}
{% block title %}Email Sent{% endblock %}

{% block content %}
<div class="form-body without-side">
  <div class="website-logo">
      <a href="index.html">
          <div class="logo">
              <img class="logo-size" src= "{% static 'assets/img/logo-light.svg' %}" alt="">
          </div>
      </a>
  </div>
  <div class="row">
      <div class="img-holder">
          <div class="bg"></div>
          <div class="info-holder">
              <img src="{% static 'assets/img/graphic3.svg' %}" alt="">
          </div>
      </div>
      <div class="form-holder">
          <div class="form-content">
              <div class="form-sent show-it">
                  <div class="tick-holder">
                      <div class="tick-icon"></div>
                  </div>
                  <h3>Activation link sent</h3>
                  <p>Please check your inbox</p>
                  <div class="info-holder">
                      <span>Unsure if that email address was correct?</span> <a href="#"></a>.
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}
