{% extends 'app/layout.html' %}
{% load static %}


{% block content %}
<div class="form-body without-side">
  <div class="website-logo">
      <a href="index.html">
          <div class="logo">
              <img class="logo-size" src= "{% static 'assets/img/logo-light.svg' %}" alt="">
          </div>
      </a>
  </div>
  <div class="row">
      <div class="img-holder">
          <div class="bg"></div>
          <div class="info-holder">
              <img src="{% static 'assets/img/graphic3.svg' %}" alt="">
          </div>
      </div>
      <div class="form-holder">
          <div class="form-content">
              <div class="form-sent show-it">
                  <div class="tick-holder">
                      <div class="tick-icon"></div>
                  </div>
                  <h3>Password reset done !
                  </h3>
                 
                  <div class="info-holder">
                      <span>You can now login </span> <a href="{% url 'login' %}">Click Here </a>.
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}