{% extends 'app/layout.html' %}
{% load static %}
{% block content %}
{% if validlink %}
<body class="login">
	<div class="wrapper wrapper-login">
    
		<form  method="POST">
		<div class="container container-login animated fadeIn">
			<h3 class="text-center">Change Password</h3>
			
			<div class="login-form">
				<form method="POST">
				{% csrf_token %}
        {% for field in form %}
        <p>
          {% for error in field.errors %}
        <small><p style="color: red">{{ error }}</p></small>
          {% endfor %}
        </p>
      {% endfor %}

				<div class="form-group form-floating-label">
					
					<input id="id_new_password1" name="new_password1" type="password" class="form-control input-border-bottom" required>
					<label for="new_password1" class="placeholder">new password</label>
				</div>
				<div class="form-group form-floating-label">
					<input id="id_password" name="new_password2" type="new_password2" class="form-control input-border-bottom" required>
					<label for="new_password2" class="placeholder">new password confirmation</label>
					<div class="show-password">
						<i class="flaticon-interface"></i>
					</div>
				</div>

				</form>
					
				<div class="form-action mb-3">
					<input value="change my password" type="submit" class="btn btn-primary btn-rounded btn-login" >
				</div>
			</div>
		</div>

		
		</div>
	</div>
    {% else %}
	<body class="page-not-found">
		<div class="wrapper not-found">
			<h1 class="animated fadeIn">404</h1>
			<div class="desc animated fadeIn"><span>OOPS!</span><br/>Looks like the link is invalid or expired</div>
			<a href="{% url 'password_reset' %}" class="btn btn-primary btn-back-home mt-4 animated fadeInUp">
				<span class="btn-label mr-2">
					<i class="flaticon-home"></i>
				</span>
				Request new link
			</a>
		</div>
    {% endif %}
	
	{% endblock content %}




