{% extends "app/layout.html" %}
{% load static %}
{% block content %}
<div class="row ">
    <div class="col-md-8">
        <div class="card text-center form-group">
            <div class="card-body text-center">
                <form method="post">
                    <div class="form-group form-floating-label">
                        <div class="col-md-10"></div>
                        {% csrf_token %}
                        {{ form }}
                    </div>
                    <label for="inputFloatingLabel2" class="placeholder">Amount</label>
            </div>
            <div class="card-action">
                <button class="btn btn-success",>Submit</button>
              <a href="{% url 'home' %}" class="btn btn-danger"> Cancel</a>
            </div>
            </form>
        </div>
    </div>
</div>
</div>

{% endblock content %}